$white: #fff;
$black: #000;
$black-two: #2A3033;
$blue: #1074CC;
$light-blue: #57a0e1;
$red: #CC1910;
$grey: #9AA1A6;
$light-grey: #E1E4E6;
$light-grey-two: #F5F5F5;
$dark-grey: #7F878C;
$mobile-with: 414px;
