<header class="header">
  <div class="header__logo">
    <img src="./images/logo.png"
         alt="Logo" />
  </div>
  <div class="header__menu">
    <app-menu></app-menu>
    <app-search></app-search>
  </div>
  <span class="icon icon-add header__add-icon"></span>
  <div class="header__mobile-icons">
    <span class="icon icon-history"></span>
    <app-search></app-search>
    <span class="icon icon-notification"></span>
  </div>
  <div class="header__profile">
    <app-profile></app-profile>
  </div>
</header>
